In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train.csv")
df.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [3]:
from sklearn.preprocessing import LabelEncoder
le_gender=LabelEncoder()
le_s11=LabelEncoder()
le_s12=LabelEncoder()
le_s16=LabelEncoder()
le_s17=LabelEncoder()
le_s18=LabelEncoder()
le_s48=LabelEncoder()
le_s52=LabelEncoder()
le_s54=LabelEncoder()
le_s55=LabelEncoder()
le_s58=LabelEncoder()
le_s69=LabelEncoder()
le_s70=LabelEncoder()
le_s71=LabelEncoder()
le_s53=LabelEncoder()
le_s56=LabelEncoder()
le_s57=LabelEncoder()
le_s59=LabelEncoder()

In [4]:
df['s11_n']=le_gender.fit_transform(df['gender'])
df['S12_n']=le_s12.fit_transform(df['s12'])
df['s16_n']=le_s16.fit_transform(df['s16'])
df['s17_n']=le_s17.fit_transform(df['s17'])
df['s18_n']=le_s18.fit_transform(df['s18'])
df['s48_n']=le_s48.fit_transform(df['s48'])
df['s52_n']=le_s52.fit_transform(df['s52'])

In [5]:
for c in  df.columns:
    df[c].fillna('No', inplace = True)

In [6]:
df['s54']

0        No
1        No
2        No
3        No
4        No
         ..
28317    No
28318    No
28319    No
28320    No
28321    No
Name: s54, Length: 28322, dtype: object

In [7]:
df['s53_n']=le_s53.fit_transform(df['s53'])
df['s54_n']=le_s54.fit_transform(df['s54'])
df['s55_n']=le_s55.fit_transform(df['s55'])
df['s56_n']=le_s56.fit_transform(df['s56'])
df['s57_n']=le_s57.fit_transform(df['s57'])
df['s58_n']=le_s58.fit_transform(df['s58'])
df['s59_n']=le_s59.fit_transform(df['s59'])
df['s69_n']=le_s69.fit_transform(df['s69'])
df['s70_n']=le_s70.fit_transform(df['s70'])
df['s71_n']=le_s71.fit_transform(df['s71'])
df

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,s53_n,s54_n,s55_n,s56_n,s57_n,s58_n,s59_n,s69_n,s70_n,s71_n
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,1,3,8,0,0,1,0,2,3,1
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,1,3,6,0,0,1,0,2,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,1,3,6,0,0,1,0,2,3,1
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,1,3,6,0,0,1,0,2,3,1
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,1,3,6,0,0,1,0,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,b'gAAAAABinOiX2ss5U2ZT5zFd8zf7HcBDWPvbivNz5wAy...,M,Y,Y,1,D,D,B,0,1,...,1,3,6,0,0,1,0,2,3,1
28318,b'gAAAAABinOiabmEADrCTZQktCKiahJkR_0kDa_8WOlos...,M,Y,Y,1,D,D,B,0,1,...,1,3,1,0,0,1,0,2,3,1
28319,b'gAAAAABinOicscC37w1W9uiIlYL1U5D_mUtmgdUg8QTl...,F,Y,Y,1,D,D,B,0,1,...,1,3,6,0,0,1,0,2,3,1
28320,b'gAAAAABinOib-JZ8iQDxjSRsa1dPT1TqeSQ_si4mAw5f...,M,Y,Y,1,B,C,B,1,1,...,1,3,6,0,0,1,0,3,2,1
28321,b'gAAAAABinOiZ3mCQAtoJFXj-Ymjhi9FbbZ_Ypi5gDoAE...,M,Y,Y,1,D,D,B,1,l,...,1,3,6,0,0,1,0,2,3,1

In [8]:
target=df['label']
input_n=df.drop(['id','gender','s11','s12','s16','s17','s18','s52','s53','s54','s55','s56','s57','s58','s59','s69','s70','s71','label'],axis='columns')
input_n

,s13,s48,n1,n2,n3,n4,n5,n6,n7,n8,...,s53_n,s54_n,s55_n,s56_n,s57_n,s58_n,s59_n,s69_n,s70_n,s71_n
0,1,0,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,1.732291,...,1,3,8,0,0,1,0,2,3,1
1,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,1.505885,...,1,3,6,0,0,1,0,2,3,1
2,1,0,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,1.503828,...,1,3,6,0,0,1,0,2,3,1
3,1,0,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,1.485863,...,1,3,6,0,0,1,0,2,3,1
4,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,1.619210,...,1,3,6,0,0,1,0,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,1,0,16.375618,2.480253,7,4.693939,-33.086259,0.007216,-8.651173,1.877460,...,1,3,6,0,0,1,0,2,3,1
28318,1,0,14.746677,2.035971,6,7.939976,-32.775474,0.013369,-8.833046,1.559138,...,1,3,1,0,0,1,0,2,3,1
28319,1,0,13.429797,1.800562,3,7.763386,-32.575975,0.017782,-9.233722,1.455911,...,1,3,6,0,0,1,0,2,3,1
28320,1,1,16.094622,2.438280,8,6.942766,-32.577563,0.007324,-8.748941,2.074394,...,1,3,6,0,0,1,0,3,2,1
28321,1,1,7.058107,1.023172,3,5.942025,-32.848897,0.015928,-9.280950,1.490478,...,1,3,6,0,0,1,0,2,3,1

In [9]:
from sklearn.ensemble import RandomForestClassifier 
model=RandomForestClassifier(n_estimators=1)
model.fit(input_n,target)

RandomForestClassifier(n_estimators=1)

In [10]:
df=pd.read_csv("test.csv")
from sklearn.preprocessing import LabelEncoder
le_gender=LabelEncoder()
le_s11=LabelEncoder()
le_s12=LabelEncoder()
le_s16=LabelEncoder()
le_s17=LabelEncoder()
le_s18=LabelEncoder()
le_s48=LabelEncoder()
le_s52=LabelEncoder()
le_s54=LabelEncoder()
le_s55=LabelEncoder()
le_s58=LabelEncoder()
le_s69=LabelEncoder()
le_s70=LabelEncoder()
le_s71=LabelEncoder()
le_s53=LabelEncoder()
le_s56=LabelEncoder()
le_s57=LabelEncoder()
le_s59=LabelEncoder()
df['s11_n']=le_gender.fit_transform(df['gender'])
df['S12_n']=le_s12.fit_transform(df['s12'])
df['s16_n']=le_s16.fit_transform(df['s16'])
df['s17_n']=le_s17.fit_transform(df['s17'])
df['s18_n']=le_s18.fit_transform(df['s18'])
df['s48_n']=le_s48.fit_transform(df['s48'])
df['s52_n']=le_s52.fit_transform(df['s52'])
for c in  df.columns:
    df[c].fillna('No', inplace = True)
df['s53_n']=le_s53.fit_transform(df['s53'])
df['s54_n']=le_s54.fit_transform(df['s54'])
df['s55_n']=le_s55.fit_transform(df['s55'])
df['s56_n']=le_s56.fit_transform(df['s56'])
df['s57_n']=le_s57.fit_transform(df['s57'])
df['s58_n']=le_s58.fit_transform(df['s58'])
df['s59_n']=le_s59.fit_transform(df['s59'])
df['s69_n']=le_s69.fit_transform(df['s69'])
df['s70_n']=le_s70.fit_transform(df['s70'])
df['s71_n']=le_s71.fit_transform(df['s71'])
X_test=df.drop(['id','gender','s11','s12','s16','s17','s18','s52','s53','s54','s55','s56','s57','s58','s59','s69','s70','s71'],axis='columns')

In [11]:
model.predict(X_test)

array([1, 0, 1, ..., 0, 1, 0], dtype=int64)

In [12]:
idd=df['id']
labell=model.predict(X_test)

In [13]:
dict = {'id': idd, 'label':labell} 
outPut = pd.DataFrame(dict)
outPut.to_csv('5y46ga_Team_Enigma.csv')